<div class="list-group mb-5">
  <div class="list-group-item list-group-item-action active sticky-top">
    <form #form="ngForm">
      <div class="row">
        <!-- <div class="col">{{ books[book - 1] }} : {{ chapter }}</div> -->
        <div class="col">
          <label
            >Book

            <span
              class="
                position-absolute
                top-0
                start-100
                translate-middle
                badge
                rounded-pill
                bg-danger
              "
            >
              {{ 66 }}
            </span>
          </label>
          <select
            class="form-control"
            (change)="onBookChangeEvent(form)"
            name="Book"
            [ngModel]="selectedbibleBook"
          >
            <option *ngFor="let bookIndex of bibleBookIndex; let i = index" value="{{ i }}">
              {{ bookIndex.book }}  ({{bookIndex.chapters.length}})
            </option>
          </select>
        </div>
        <div class="col">
          <label
            >Chapter
            <span
              class="
                position-absolute
                top-0
                start-100
                translate-middle
                badge
                rounded-pill
                bg-danger
              "
            >
              {{ selectedBibleBookIndex.chapters.length }}
            </span>
          </label>
          <!-- <input
            type="number"
            class="form-control"
            placeholder="Chapter"
            (change)="onChangeEvent(form)"
            name="Chapter"
            min="1"
            max="150"
            [ngModel]="selectedbibleChapter"
          /> -->

          <select
            class="form-control"
            (change)="onChapterChangeEvent(form)"
            name="Chapter"
            [ngModel]="selectedbibleChapter"
          >
            <option
              *ngFor="let bibleChapter of selectedBibleBookIndex.chapters; let i = index"
              value="{{ bibleChapter.chapter }}"
            >
              {{ bibleChapter.chapter  }}  ({{ bibleChapter.verses  }}) 
            </option>
          </select>
        </div>
        <div class="col">
          <label
            >Language
            <span
              class="
                position-absolute
                top-0
                start-100
                translate-middle
                badge
                rounded-pill
                bg-danger
              "
            >
              {{ bibleLanguages.length }}
            </span>
          </label>
          <select
            class="form-control text-capitalize"
            (change)="onLanguageChangeEvent(form)"
            name="Language"
            [ngModel]="selectedbibleLanguage"
          >
            <!-- <option value="-1">--select--</option> -->
            <option
              *ngFor="let languages of bibleLanguages; let i = index"
              [value]="languages"
              [selected]="selectedbibleLanguage"
            >
              {{ languages }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="bibleChapter">
    <button
      type="button"
      class="list-group-item list-group-item-action card-shadow"
      (click)="onVerse(books[book], chapter, i + 1, verse)"
      *ngFor="let verse of bibleChapter.Verse; let i = index"
    >
      <b>{{ i + 1 }} : </b>{{ verse.Verse }}
    </button>
  </div>
</div>
