<div class="list-group mb-5">
  <div class="list-group-item list-group-item-action active sticky-top">
    <form #form="ngForm" >
      <div class="row">
        <!-- <div class="col">{{ books[book - 1] }} : {{ chapter }}</div> -->
        <div class="col">
          <label>Book</label>
          <select
            class="form-control"
            (change)="onChangeEvent(form)"
            name="Book"
            [ngModel]="selectedbibleBook"
          >
            <option *ngFor="let book of books; let i = index" value="{{ i }}">
              {{ book }}
            </option>
          </select>
        </div>
        <div class="col">
          <label>Chapter</label>
          <input
            type="number"
            class="form-control"
            placeholder="Chapter"
            (change)="onChangeEvent(form)"
            name="Chapter"
            min="1"
            max="150"
            [ngModel]="selectedbibleChapter"
          />
        </div>
        <div class="col">
          <label>Language</label>
          <select
            class="form-control"
            (change)="onbibleLanguagesChangeEvent(form)"
            name="Language"
            [ngModel]="selectedbibleLanguage"
          >
            <option value="-1">--select--</option>
            <option
              *ngFor="let languages of bibleLanguages; let i = index"
              [value]="languages"
              [selected]="selectedbibleLanguage"
            >
              {{ languages }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="" *ngIf="resData">
    <button
      type="button"
      class="list-group-item list-group-item-action card-shadow"
      (click)="onVerse(books[book], chapter, i + 1, verse)"
      *ngFor="let verse of resData.Verse; let i = index"
    >
      <b>{{ i + 1 }} : </b>{{ verse.Verse }}
    </button>
  </div>
</div>
